.login {
  display: grid;
  place-items: center;
  row-gap: 10px;
  height: 100vh;
}

.login .signInBtn {
  width: 300px;
  background-color: #2e81f4;
  font-weight: 800;
  color: white;
  align-self: flex-end;
}

.login .signInBtn:hover {
  background-color: white;
  color: #2e81f4;
}

.login .guestBtn {
  width: 300px;
  background-color: gray;
  font-weight: 800;
  color: white;
  align-self: flex-start;
}

.login .guestBtn:hover {
  background-color: white;
  color: gray;
}

.login > div > img {
  object-fit: contain;
  height: 150px;
}

.login > div {
  display: flex;
  flex-direction: column;
}
